.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
node_modules/
node_modules
.devcontainer/
Dockerfile
sample*
*.vsix
docker-compose.yml
.history/
.github/
